@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, 
body {
  background-color: #FFF7FC;
  
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
}

.nombre-logo-contenedor {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: #5755FE;
  border-radius: 2rem;
}

.nombre-logo {
  height: 50px;
}

.contenedor-principal {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}